body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container-Log, .container-reg{
  background-image: url("/bs99.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 80px;
  

}
.login-container, .register-container{
  background: rgba(0,0,0,0.6);
  border: 1px solid #fd79a8;
  padding: 20px;
  border-radius: 5px;

}
.login-container .login-text, .register-container .register-text{
  color: #fd79a8;
  text-shadow: 1px 1px white;
}
label{
  color: #fd79a8;
  font-weight: bold;
}
.container-Log label{
  color: #fd79a8 !important;
  font-weight: bold;
}
.register-container label{
  color: #fd79a8 !important;
  font-weight: bold;
}

.navbar .blueship{
  color: #fff;
  margin-top: 15px;
 }

.navbar {
  height: 40px;
	background-color: #fd79a8; 
}
/* .navMain{
  color: #fd79a8;
} */
#navbarColor01 >ul >li{
  padding-right: 20px;
}
.footer{
  background-color: #fd79a8;
  color: #fff;
}


.text-center{
  color:#fd79a8;
}
.bookListCard{
  background-color: #fd79a8;
  color:#fff;
  font-weight: bold;
  text-align: center;
  border:1px solid #fff;

}
.homepage{
  background-image: url("/bs99.jpg") ;
  background-size: cover;
  margin-top: -40px;
}
.homepage-text{
  /* margin-top: -10px;   */
  font-size: 40px;
  color: #fd79a8;
  text-shadow: 2px 2px 4px #fff;
}
.homepage-text2{
  margin-top: -500px;  
  font-size: 30px;
  color: #fd79a8;
  text-shadow: 2px 2px 4px #fff;
}
.landing-text{
  margin-top: 175px;  
  font-size: 50px;
  color: #fd79a8;
  text-shadow: 2px 2px 4px #fff;
}
.btn-landing{
  margin-top: -330px;
  
}
.btn-landing> Button{
  height: 50px;
  width:200px;
  color:#fff;
  background-color: #fd79a8;
  border: 1px solid #fd79a8;
  /* border-shadow: 2px 2px 4px #fff; */
  text-shadow: 2px #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.btn-landing>button:hover{
  color:#fd79a8;
  background-color: transparent;
  border: 1px solid #fd79a8;
 
}
.thumbnail{
  background-image: url("/book.jpg");
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.schedules-parallax{
  background-image: url("/book.jpg");
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
ModalBody{
  color:#fd79a8;
}
.footer{
  color:#fff;
  height: 50px;
  font-size: 20px;
  background-color: #fd79a8;
  text-align: center;
  padding-top:7px;
  /* margin-top: 80px; */
}

.payment{
  /*background-color: #81ecec;*/
  margin:auto;
  height:50vh;
  width: 60vh;
  /* border: 1px solid #fd79a8; */
}
.checkout{
  margin: 50px;
  /*color:#81ecec;*/
}
.checkout >h6{
  padding:  10px;
}
.checkout-card{
  font-size: 20px;
  border:1px solid #fff;
 
}

.btn-purchase:hover{
  background-color: #fd79a8;
  border: 1px solid #fff;
  color: #fff;
  }
  
  .schedHead{
    color: #fff;
  }
  .schedRow{
    background-color: #fd79a8;
  }